:root {
  --btn-yellow-bg: #f1b828;
  --btn-yellow-hover-bg: #e0a71f;
  --btn-green-bg: #93b479;
  --btn-green-hover-bg: #7fa065;
  --btn-orange-bg: #c97f3a;
  --btn-orange-hover-bg: #b36e33;
  --btn-red-bg: #bf6366;
  --btn-red-hover-bg: #a65558;
  --btn-text-color: #000000;
}

.App {
  text-align: center;
  background-color: rgb(239, 241, 247);
  min-height: 100vh;
}

#infoPanel {
  text-align: left;
  font-style: italic;
  font-weight: bold;
  color: rgb(126, 52, 52);
}

.btn--yellow {
  background-color: var(--btn-yellow-bg) !important;
  border-color: var(--btn-yellow-bg) !important;
  color: var(--btn-text-color) !important;
}

.btn--yellow:hover {
  background-color: var(--btn-yellow-hover-bg) !important;
  border-color: var(--btn-yellow-hover-bg) !important;
}

.btn--yellow:focus {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px rgba(241, 184, 40, 0.5) !important;
}

.btn--green {
  background-color: var(--btn-green-bg) !important;
  border-color: var(--btn-green-bg) !important;
  color: var(--btn-text-color) !important;
}

.btn--green:hover {
  background-color: var(--btn-green-hover-bg) !important;
  border-color: var(--btn-green-hover-bg) !important;
}

.btn--green:focus {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px rgba(147, 180, 121, 0.5) !important;
}

.btn--orange {
  background-color: var(--btn-orange-bg) !important;
  border-color: var(--btn-orange-bg) !important;
  color: var(--btn-text-color-light) !important;
}

.btn--orange:hover {
  background-color: var(--btn-orange-hover-bg) !important;
  border-color: var(--btn-orange-hover-bg) !important;
}

.btn--orange:focus {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px rgba(201, 127, 58, 0.5) !important;
}

.btn--red {
  background-color: var(--btn-red-bg) !important;
  border-color: var(--btn-red-bg) !important;
  color: var(--btn-text-color) !important;
}

.btn--red:hover {
  background-color: var(--btn-red-hover-bg) !important;
  border-color: var(--btn-red-hover-bg) !important;
}

.btn--red:focus {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px rgba(191, 99, 102, 0.5) !important;
}

/* Disable transitions for instant changes */
.btn--yellow,
.btn--green,
.btn--red,
.btn--orange {
  transition: none;
  animation: none;
}

/* Disable transitions and animations for the button label inside custom buttons */
.btn--yellow .p-button-label,
.btn--green .p-button-label,
.btn--red .p-button-label,
.btn--orange .p-button-label {
  transition: none !important;
  animation: none !important;
}
