name: "Frontend: (test), build and publish docker image to registry"

env:
  DOCKER_REGISTRY: ghcr.io
  DOCKER_IMAGE_NAME: ui

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - ui/**

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version-file: 'ui/.nvmrc'
        cache: 'npm'
        cache-dependency-path: 'ui/package-lock.json'

    - name: Install dependencies
      run: npm ci
      working-directory: ./ui

    - name: Run Prettier format check
      run: npm run format:check
      working-directory: ./ui

    - name: Run ESLint
      run: npm run lint
      working-directory: ./ui

  # Currently there are no tests to run before build

  build:
    needs: lint
    runs-on: ubuntu-latest

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # list of Docker images to use as base name for tags
        images: |
          ${{ env.DOCKER_REGISTRY }}/${{ github.repository }}/${{ env.DOCKER_IMAGE_NAME }}
        # generate Docker tags based on the following events/attributes
        tags: |
          type=schedule,pattern={{date 'YYYYMMDD-HHmmss'}}
          type=sha
          type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker registry
      uses: docker/login-action@v3 
      with:
        registry: ${{ env.DOCKER_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        file: ui/prod.Dockerfile
        context: ./ui
        platforms: linux/amd64
        push: true
        # for now cache to github actions
        # might need some tuning
        cache-from: type=gha
        cache-to: type=gha,mode=max
        tags: ${{ steps.meta.outputs.tags }}
