name: Lint and Test Charts

on: pull_request

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure and start external services stack
        run: ./manage-services.sh up test
      
      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python3 -

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'poetry'
        
      - name: Install dependencies
        run: poetry install
        working-directory: ./backend

      - name: Run format Black
        run: poetry run format-check
        working-directory: ./backend

      - name: Run Pylint
        run: poetry run lint
        working-directory: ./backend
      
      - name: Run Mypy
        run: poetry run type-check
        working-directory: ./backend

      - name: Run Bandit
        run: poetry run sec-check
        working-directory: ./backend

      - name: Run tests
        run: poetry run test
        working-directory: ./backend

  lint-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'ui/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'ui/package-lock.json'

      - name: Install dependencies
        run: npm ci
        working-directory: ./ui

      - name: Run Prettier format check
        run: npm run format:check
        working-directory: ./ui

      - name: Run ESLint
        run: npm run lint
        working-directory: ./ui

  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.8.0

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --target-branch ${{ github.event.repository.default_branch }}

# TODO: Add Test for frontend
